<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
<h1>Search a stock</h1>

<br>
<br>
<form class="stock-search" action="{{ url_for('stock_results')}}" method="get">
	<label for="name">Enter stock ticker:</label><br>
		<input type="text" id="name" name="name"><br>
	<br>
	<label for ="first_money">Money to invest:</label><br>
		<input type ="text" id="first_money" name="first_money"><br>
	<input class="new-search" type="submit" value="Submit">

	<script>
      var form = document.querySelector('form.stock-search');
      var button = document.querySelector('form.stock-search input.new-search');

      button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        request.open('GET', window.location.pathname);
        request.onreadystatechange = function () {
          if (XMLHttpRequest.DONE === request.readyState
              && 200 === request.status) {
            window.location.reload(true);
          }
        }
        request.send(new FormData(form));
      }, false);
   </script>
</form>
</body>
<body>

<h1>{{request.name}} Stock Results</h1>
<h1>Money Invested: {{request.first_money}}</h1>

<br>
<br>
<p>Money earned from MACD method: {{earnings}}</p>
<br>
<a rel="collection" href="{{ url_for('home') }}">New Search</a>
<br>
<p>{{ result }}</p>
<body>
{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</body>


<br>
<br>

</body>