<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<!--jquery to help with listbox -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--plotly to help with cher's viz -->
<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
<!--added for extra help -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<!-- Load icon library not sure if this works-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<script src="{{ url_for('static', filename='stock_vis.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <meta charset="UTF-8">
    <title>StockViewer.</title>
    <!--reference for adding items to listbox:https://www.includehelp.com/code-snippets/javascript-add-user-entered-item-into-listbox.aspx-->
    <script type="text/javascript">
        function insertStockIntoViewer() {
            var x = document.getElementById("stock-list");
            var item = document.getElementById("name").value;
            var option = document.createElement("option");
            option.text = item;
            option.value = item;
            x.add(option);
            //alert(item + " has been added.");
            document.getElementById('name').value = ''
        }
    </script>
</head>

<!--style for the path that's being drawn in the viz-->
<style>
    path.line {
        fill: none;
        /*stroke: darkseagreen;*/
        stroke-width: 1px;
    }
    #stock_vis {
        float: right;
    }
    .title {
        color: #E2725B;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: bold;
    }

    body {
        width: 100%;
        height: 95vh;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #stock_vis {
        display: flex;
    }

    svg {
    }
</style>


<body style="text-align: left;" class="has-background-grey-lighter">

<h1 class="title">   S T O C K V I E W E R</h1>

<form id="stock-search" class="stock-search">
    <p><div class="field">
    <label class="label">Enter Stock Ticker Here:</label>
    <div class="control">
        <input class="input" type="text" placeholder="$TICK" id="name"/>
    </div>
</div>
    <br>
    <br>
    <div class="field">
        <div class="control">
            <input class="button is-link" type="button"  onclick="insertStockIntoViewer()" value="Insert into Stock Viewer"></p>
        </div>
    </div>

    <!--reference for limiting selected options:https://stackoverflow.com/questions/30474614/multiple-select-limit-number-of-selection/30475067.-->
    <script type="text/javascript">
        $(document).ready(function() {
            var last_valid_selection = null;
            $('#stock-list').change(function(event) {
                if ($(this).val().length > 2) {
                    $(this).val(last_valid_selection);
                } else {
                    last_valid_selection = $(this).val();
                }
            });
        });
    </script>

</form>

<!--select for the show mode of different analysis-->
Show
<select id="show_select" onchange="renderShow()">
    <option value="Open">Open</option>
    <option value="High">High</option>
    <option value="Close">Close</option>
    <option value="Volume">Volume</option>
    <option value="ma5">MACD</option>
    <option value="CCI">CCI</option>
    <option value="RSI">RSI</option>
    <option value="ohlc">OHLC</option>

</select>

<form id="stock-select">
    <div class="select is-multiple">
        <select id="stock-list" name="name" multiple="multiple" size="20" style="width:200px;">
        </select>
    </div>

        <div id="stock_vis" style></div>


</form>
<span id="result" ></span>
<!--<div id="stock_vis" class="stockvis"></div>-->



<script>
    function stockSubmit(ev) {

        ev.preventDefault();
        var request = new XMLHttpRequest();
        request.addEventListener('load', stockShow);
        request.open('POST', "{{ url_for('return_stock_info')}}");
        //console.log(new FormData(this))
        request.send(new FormData(this));
    }
    //create a total stock data object to store data
    var total_stock_data = {}

    function stockShow() {

        //console.log(this.responseText);
        //data in json
        var show_mode = document.getElementById('show_select').value

        //console.log("this is the show mode: " + show_mode)
        let data = JSON.parse(this.responseText);

        //add data to total stock object
        total_stock_data[data.name] = data


        //produce new stock viz
        if (show_mode == 'ohlc') {
            //let vis = new StockVis("stock_vis",total_stock_data[stocks[i]],show_mode);
            //vis.renderOHLC();

            let vis = new StockVis("stock_vis",data,'High');
            vis.renderOHLC();

        } else {
            let vis = new StockVis("stock_vis", data, show_mode);
            vis.render();
        }
    }

    function renderShow() {

        //selects all stocks that are selected
        let stocks = $('#stock-list').val()

        //get the show mode
        let show_mode = document.getElementById('show_select').value;

        //loop through each stock to get viz for each stock in array
        for (let i= 0; i < stocks.length;i++){
            //console.log(stocks[i])
            //console.log(total_stock_data[stocks[i]])
            if (show_mode == 'ohlc') {

                let vis = new StockVis("stock_vis",total_stock_data[stocks[i]],'High');
                vis.renderOHLC();

            } else {
                let vis = new StockVis("stock_vis", total_stock_data[stocks[i]], show_mode);
                vis.render();
            }
        }


    }


    var form = document.getElementById('stock-select');
    form.addEventListener('change', stockSubmit);

    $(function(){
        let tickers = [];
        fetch('http://api.marketstack.com/v1/tickers?access_key=3ca833254ab54164ed6a0ff4c140ff9a&limit=1000')
            .then((result)=>{
                return result.json();
            }).then((data)=>{
            for(let i = 0; i < data.data.length; i++){
                tickers.push(data.data[i].symbol);
            }
        })
        $("#name").autocomplete({
            source: tickers
        });
    });


</script>
</body>
</html>