<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ url_for('static', filename='stock_vis.js') }}"></script>
<head>
    <meta charset="UTF-8">
    <title>visualizing stocks</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>

<h1>Search a stock</h1>

<br>
<br>

<form id="stock-search">
	<label for="name">Enter stock ticker:</label><br>
		<input type="text" id="name" name="name"><br>
	<br>
	<label for ="first_money">Money to invest:</label><br>
		<input type ="text" id="first_money" name="first_money"><br>
	<input class="new-search" type="submit" value="Submit">
</form>
<span id="result" ></span>
<svg id="stock_svg" ></svg>

<script>
    function stockSubmit(ev) {
      ev.preventDefault();
      var request = new XMLHttpRequest();
      request.addEventListener('load', stockShow);
      request.open('POST', "{{ url_for('return_stock_info')}}");
      request.send(new FormData(this));
    }

    function stockShow() {
      //console.log(this.responseText);
      //if you want to data in json
      let data = JSON.parse(this.responseText);
      //var data = this.responseText;
	  console.log(data)
      var span = document.getElementById('result');
      span.innerHTML = data;

      //idea for how to code stock visualization
      //uncomment the following
      var vis = new StockVis("stock_svg",data);
      vis.render();
    }

    var form = document.getElementById('stock-search');
    form.addEventListener('submit', stockSubmit);
</script>
</body>
</html>