<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<!--jquery to help with listbox -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Load icon library not sure if this works-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<script src="{{ url_for('static', filename='stock_vis.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Stocks - Add stock item into stock viewer.</title>
    <!--reference for adding items to listbox:https://www.includehelp.com/code-snippets/javascript-add-user-entered-item-into-listbox.aspx-->
    <script type="text/javascript">
        function insertStockIntoViewer() {
            var x = document.getElementById("stock-list");
            var item = document.getElementById("name").value;
            var option = document.createElement("option");
            option.text = item;
            option.value = item;
            x.add(option);
            //alert(item + " has been added.");
            document.getElementById('name').value = ''
        }
    </script>
</head>

<!--style for the path that's being drawn in the viz-->
<style>
    path.line {
        fill: none;
        /*stroke: darkseagreen;*/
        stroke-width: 1px;
    }
    #stock_vis {
        float: right;
    }
</style>


<body style="text-align: left;" class="has-background-grey">
	
<h1 class="title">Stocks - Add stock into StockViewer.</h1>

<form id="stock-search" class="stock-search">
<p><div class="field">
    <label class="label">Enter Stock Ticker Here:</label>
    <div class="control">
      <input class="input" type="text" placeholder="$TICK" id="name"/>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="button is-link" type="button"  onclick="insertStockIntoViewer()" value="Insert into Stock Viewer"></p>
    </div>
  </div>
	<!--<label for ="first_money">Money to invest:</label><br>
		<input type ="text" id="first_money" name="first_money"><br>-->
	<!--<input class="new-search" type="submit" value="Submit">-->
  <!--<select id="stock-list" multiple="multiple" size="20" style="width:200px;">
      <option></option>
  </select>-->

  <!--reference for limiting selected options:https://stackoverflow.com/questions/30474614/multiple-select-limit-number-of-selection/30475067.-->
      <script type="text/javascript">
          $(document).ready(function() {
            var last_valid_selection = null;
            $('#stock-list').change(function(event) {
              if ($(this).val().length > 2) {
                $(this).val(last_valid_selection);
              } else {
                last_valid_selection = $(this).val();
              }
            });
          });
          </script>

</form>

<!--select for the show mode of different analysis-->
Show
<select id="show_select" onchange="renderShow(this.value)">
    <option value="Open">Open</option>
    <option value="High">High</option>
    <option value="Close">Close</option>
    <option value="Volume">Volume</option>
    <option value="ma5">MACD</option>
    <option value="CCI">CCI</option>
    <option value="RSI">RSI</option>
</select>

<form id="stock-select">
  <div class="select is-multiple">
    <select id="stock-list" name="name" multiple="multiple" size="20" style="width:200px;">
    </select>
  </div>
</form>
<span id="result" ></span>
<div id="stock_vis" class="stockvis"></div>



<script>
    function stockSubmit(ev) {
      console.log(this)
      ev.preventDefault();
      var request = new XMLHttpRequest();
      request.addEventListener('load', stockShow);
      request.open('POST', "{{ url_for('return_stock_info')}}");
      request.send(new FormData(this));
    }

    function stockShow() {

      //console.log(this.responseText);
      //data in json
      var show_mode = document.getElementById('show_select').value

      //console.log("this is the show mode: " + show_mode)
      let data = JSON.parse(this.responseText);
      console.log(data);

      //idea for how to code stock visualization
      var vis = new StockVis("stock_vis",data,show_mode);
      vis.render();
    }

    function renderShow(mode) {
        console.log("this mode has been selected: " + mode);
        var elem = document.getElementById('stock-select');

    }


    var form = document.getElementById('stock-select');

    //we need something here to to create a change when we submit update
    //show select. it needs to capture all values of all items that have been selected
    //or all values in listbox. and then it needs to create a new StockVis with the show mode selected

    form.addEventListener('change', stockSubmit);


</script>
</body>
</html>
